img{
	float:left;
    display:inline;
    height: 100%;
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 10%;
	
}

.container{
	width: 80%;
	padding: 5%;
}
.col-sm-6{
	padding: 1%;
}
